<% content_for :title, t(".title")%>

<div class="columns is-centered">
  <div class="column box is-5 mt-6 p-5 m-4">
    <h1 class="title has-text-centered" %>
      <%= t(".title") %>
    </h1>

    <%= form_with(url: login_path, scope: :user, class: "is-flex is-flex-direction-column") do |form| %>
      <div class="block">
        <%= form.label :email, class: "label" %>
        <%= form.email_field :email, class: "input", required: true, autofocus: true %>
      </div>

      <div class="block">
        <%= form.label :password, class: "label" %>
        <%= form.password_field :password, class: "input", required: true %>
      </div>

      <div class="block">
        <%= form.checkbox :remember_me %>
        <%= form.label :remember_me, "Remember me" %>
      </div>

      <%= form.submit t(".submit_button"), 
            class: "button is-primary is-medium is-align-self-flex-end mb-3 mt-3" %>
    <% end %>
  </div>
</div> 

